sh/.idea
sh/test_start_script.sh
.idea/
project/notebooks/.ipynb_checkpoints
project/.bash_history
notebooks/.ipynb_checkpoints/
notebooks/*_answers.ipynb
notebooks/variables/.ipynb_checkpoints/
notebooks/examples
bin/
lib/
pyvenv.cfg
lib64
etc/
share/
.DS_Store
simpylc/install_requirements.sh
simpylc/simpylc_howto.pdf
simpylc/test_simpylc.sh
simpylc/conda/Miniconda3-latest-MacOSX-arm64.sh
simpylc/conda/Miniconda3-latest-MacOSX-x86_64.sh
simpylc/conda/Miniconda3-latest-Windows-x86_64.exe
simpylc/pip/requirements.txt
install/
notebooks/numpy/pics/
simulations/arduino_led_timer
simulations/arduino_traffic_lights
simulations/blinking_light
simulations/one_armed_robot
simulations/pid_controller
simulations/rocket
simulations/train
simulations/car/__pycache__/
simulations/car/control_client/__pycache__/
log.txt
