sh/.idea
sh/test_start_script.sh
.idea/
project/notebooks/.ipynb_checkpoints
project/.bash_history
notebooks/.ipynb_checkpoints/
notebooks/*_answers.ipynb
notebooks/variables/.ipynb_checkpoints/
notebooks/examples
bin/
lib/
pyvenv.cfg
lib64
etc/
share/
.DS_Store
simpylc/install_requirements.sh
simpylc/simpylc_howto.pdf
simpylc/test_simpylc.sh
simpylc/conda/Miniconda3-latest-MacOSX-arm64.sh
simpylc/conda/Miniconda3-latest-MacOSX-x86_64.sh
simpylc/conda/Miniconda3-latest-Windows-x86_64.exe
simpylc/pip/requirements.txt
simulations/arduino_led_timer/led_timer.py
simulations/arduino_led_timer/native.cpp
simulations/arduino_led_timer/timing.py
simulations/arduino_led_timer/world.py
simulations/arduino_led_timer/__pycache__/led_timer.cpython-310.pyc
simulations/arduino_led_timer/__pycache__/timing.cpython-310.pyc
simulations/arduino_led_timer/__pycache__/world.cpython-310.pyc
simulations/arduino_traffic_lights/native.cpp
simulations/arduino_traffic_lights/timing.py
simulations/arduino_traffic_lights/traffic_lights.py
simulations/arduino_traffic_lights/visualisation.py
simulations/arduino_traffic_lights/world.py
simulations/arduino_traffic_lights/__pycache__/timing.cpython-310.pyc
simulations/arduino_traffic_lights/__pycache__/traffic_lights.cpython-310.pyc
simulations/arduino_traffic_lights/__pycache__/visualisation.cpython-310.pyc
simulations/arduino_traffic_lights/__pycache__/world.cpython-310.pyc
simulations/blinking_light/blinking_light.py
simulations/blinking_light/timing.py
simulations/blinking_light/world.py
simulations/blinking_light/__pycache__/blinking_light.cpython-310.pyc
simulations/blinking_light/__pycache__/timing.cpython-310.pyc
simulations/blinking_light/__pycache__/world.cpython-310.pyc
simulations/car/control_server.py
simulations/car/dimensions.py
simulations/car/lidar.track
simulations/car/physics.py
simulations/car/socket_wrapper.py
simulations/car/sonar.track
simulations/car/visualisation.py
simulations/car/world.py
simulations/car/__pycache__/control_server.cpython-310.pyc
simulations/car/__pycache__/dimensions.cpython-310.pyc
simulations/car/__pycache__/physics.cpython-310.pyc
simulations/car/__pycache__/socket_wrapper.cpython-310.pyc
simulations/car/__pycache__/visualisation.cpython-310.pyc
simulations/car/__pycache__/world.cpython-310.pyc
simulations/car/control_client/hardcoded_client.py
simulations/car/control_client/parameters.py
simulations/car/control_client/__pycache__/hardcoded_client.cpython-310.pyc
simulations/car/control_client/__pycache__/parameters.cpython-310.pyc
simulations/one_armed_robot/control.py
simulations/one_armed_robot/robot_plan.jpg
simulations/one_armed_robot/robot.py
simulations/one_armed_robot/timing.py
simulations/one_armed_robot/visualisation.py
simulations/one_armed_robot/world.py
simulations/one_armed_robot/__pycache__/control.cpython-310.pyc
simulations/one_armed_robot/__pycache__/robot.cpython-310.pyc
simulations/one_armed_robot/__pycache__/timing.cpython-310.pyc
simulations/one_armed_robot/__pycache__/visualisation.cpython-310.pyc
simulations/one_armed_robot/__pycache__/world.cpython-310.pyc
simulations/pid_controller/native.cpp
simulations/pid_controller/pid_controller.py
simulations/pid_controller/timing.py
simulations/pid_controller/world.py
simulations/pid_controller/__pycache__/pid_controller.cpython-310.pyc
simulations/pid_controller/__pycache__/timing.cpython-310.pyc
simulations/pid_controller/__pycache__/world.cpython-310.pyc
simulations/rocket/common.py
simulations/rocket/control.py
simulations/rocket/rocket.py
simulations/rocket/thruster_rotation.jpg
simulations/rocket/timing.py
simulations/rocket/transforms.py
simulations/rocket/visualisation.py
simulations/rocket/world.py
simulations/rocket/__pycache__/common.cpython-310.pyc
simulations/rocket/__pycache__/control.cpython-310.pyc
simulations/rocket/__pycache__/rocket.cpython-310.pyc
simulations/rocket/__pycache__/timing.cpython-310.pyc
simulations/rocket/__pycache__/transforms.cpython-310.pyc
simulations/rocket/__pycache__/visualisation.cpython-310.pyc
simulations/rocket/__pycache__/world.cpython-310.pyc
simulations/train/control.py
simulations/train/physics.py
simulations/train/timing.py
simulations/train/world.py
simulations/train/__pycache__/control.cpython-310.pyc
simulations/train/__pycache__/physics.cpython-310.pyc
simulations/train/__pycache__/timing.cpython-310.pyc
simulations/train/__pycache__/world.cpython-310.pyc
